.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.cart-container{
    height: 500px;
    background-color: bisque;
    margin: 0 10px;
    position: sticky;
    top: 0;
}
@media screen and (max-width:1150px) {
    .shop-container{
        grid-template-columns: 7fr 4fr;
    }
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 750px) {
    .shop-container{
        grid-template-columns: 3fr 2fr;
    }
    .products-container{
        grid-template-columns: repeat(1, 1fr);
    }
    
}