.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.cart-container{
    height: 500px;
    background-color: bisque;
    margin: 0 10px;
    position: sticky;
    top: 0;
}