.product img{
    height: 250px;
    width: 350px;
}
.product{
    background-color: skyblue;
    padding: 10px;
    position: relative;
}
.productInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnCart{
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btnCart:hover{
    background-color: aquamarine;
}